extends layout

block content
    script(src="/javascripts/bbsView.js?ver=2020-09-16")

    section.container
        table.table.table-striped
            tr
                th 작성일자
                td= bbsVO.b_date
                th 작성시각
                td= bbsVO.b_time
                th 작성자
                td= bbsVO.b_write
                th 조회수
                td= bbsVO.b_count

            tr 
                th 제목
                td(colspan="7")= bbsVO.b_title
            tr
                td(colspan="8")= bbsVO.b_text

    article.container.d-flex.justify-content-end.p3
        button(data-id= bbsVO._id).view-btn.btn.btn-primary 본문수정
        button(data-id= bbsVO._id).view-btn.btn.btn-danger 삭제
        button.view-btn.btn.btn-success 목록으로